<hr class="mt-0 mb-0 ">
<div class="work-navigation clearfix">
  <a href="{{ prev }}" class="work-prev"><span><i class="fa fa-chevron-left"></i>&nbsp;{{ 'Previous'|t }}</span></a>
  <a href="{{ all_works }}" class="work-all"><span><i class="fa fa-times"></i>&nbsp;{{ 'All works'|t }}</span></a>
  <a href="{{ next }}" class="work-next"><span>{{ 'Next'|t }}&nbsp;<i class="fa fa-chevron-right"></i></span></a>
</div>
