{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <script src="//maps.googleapis.com/maps/api/js?key={{ gmap_key }}" type="text/javascript"></script>
  </head>
  <body{{ attributes }}>
    {#
    Keyboard navigation/accessibility link to main content section in
    page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
    <div class="c-layout-go2top" style="display: block;">
      <i class="icon-arrow-up"></i>
    </div>

    {% if dev %}
      <nav class="c-layout-quick-sidebar">
        <div class="c-header">
          <button type="button" class="c-link c-close">
            <i class="icon-login"></i>
          </button>
        </div>
        <div class="c-content">
          <div class="c-section">
            <h3>{{ 'Theme Colors'|t }}</h3>
            <div class="c-settings">
              <span class="c-color c-default c-active" data-color="default"></span>
              <span class="c-color c-green1" data-color="green1"></span>
              <span class="c-color c-green2" data-color="green2"></span>
              <span class="c-color c-green3" data-color="green3"></span>
              <span class="c-color c-yellow1" data-color="yellow1"></span>
              <span class="c-color c-yellow2" data-color="yellow2"></span>
              <span class="c-color c-yellow3" data-color="yellow3"></span>
              <span class="c-color c-red1" data-color="red1"></span>
              <span class="c-color c-red2" data-color="red2"></span>
              <span class="c-color c-red3" data-color="red3"></span>
              <span class="c-color c-purple1" data-color="purple1"></span>
              <span class="c-color c-purple2" data-color="purple2"></span>
              <span class="c-color c-purple3" data-color="purple3"></span>
              <span class="c-color c-blue1" data-color="blue1"></span>
              <span class="c-color c-blue2" data-color="blue2"></span>
              <span class="c-color c-blue3" data-color="blue3"></span>
              <span class="c-color c-brown1" data-color="brown1"></span>
              <span class="c-color c-brown2" data-color="brown2"></span>
              <span class="c-color c-brown3" data-color="brown3"></span>
              <span class="c-color c-dark1" data-color="dark1"></span>
              <span class="c-color c-dark2" data-color="dark2"></span>
              <span class="c-color c-dark3" data-color="dark3"></span>
            </div>
          </div>
          <div class="c-section">
            <h3>{{ 'Header Type'|t }}</h3>
            <div class="c-settings">
              <input type="button" class="c-setting_header-type btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="boxed" value="boxed">
              <input type="button" class="c-setting_header-type btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="fluid" value="fluid">
            </div>
          </div>
          <div class="c-section">
            <h3>{{ 'Header Mode'|t }}</h3>
            <div class="c-settings">
              <input type="button" class="c-setting_header-mode btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="fixed" value="fixed">
              <input type="button" class="c-setting_header-mode btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="static" value="static">
            </div>
          </div>
          <div class="c-section">
            <h3>{{ 'Mega Menu Style'|t }}</h3>
            <div class="c-settings">
              <input type="button" class="c-setting_megamenu-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="dark" value="dark">
              <input type="button" class="c-setting_megamenu-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="light" value="light">
            </div>
          </div>
          <div class="c-section">
            <h3>{{ 'Font Style'|t }}</h3>
            <div class="c-settings">
              <input type="button" class="c-setting_font-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="default" value="default">
              <input type="button" class="c-setting_font-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="light" value="light">
            </div>
          </div>
        </div>
      </nav>
    {% endif %}

    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
  </body>
</html>
