<div class="c-overlay-wrapper">
  <div class="c-overlay-content">
    <h3 class="c-title c-margin-tb-30 c-font-uppercase c-font-bold c-font-30 c-font-white c-padding-20">{{ title|raw }}</h3>
    <a href="{{ button_link }}" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{ button_text }}</a>
  </div>
</div>
<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: {{ height }}px; background-image: url({{ filename }});"></div>
