<div class="c-bg-img-center c-center" style="height:{{ height }}px; background-image: url({{ filename }});">
  <div class="c-wrapper c-center-vertical">
    <h3 class="c-title c-margin-tb-30 c-font-30 c-font-uppercase c-font-bold c-font-white">
      <span class="c-line">{{ title|raw }}</span>
    </h3>
    <a href="{{ button_link }}" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square c-margin-t-20">{{ button_text }}</a>
  </div>
</div>
