<div class="col-md-3 col-sm-4">
  <div class="c-content c-column-{{ class }} c-padding-adjustment">
    <div class="c-row c-type c-font-20">{{ label }}</div>
    {{ str|raw }}
    <div class="c-row c-price">
      <span class="c-dollar c-font-20"> $</span>
      <span class="c-font-30 c-font-bold">{{ price }}</span>
    </div>
    <div class="c-row c-purchase">
      {{ text|raw }}
    </div>
  </div>
</div>
