<div class="c-grid" data-auto-height="true" data-related="#c-video-card-3">
  <ul class="c-grid-row">
    <li>
      <div class="c-bg-opacity-1 c-card" data-height="height">
        <h3 class="c-font-uppercase c-font-bold">{{ label }}</h3>
        <p>{{ description|raw }}</p>
      </div>
    </li>
    <li>
      <div class="c-bg-opacity-1 c-card" data-height="height">
        <h3 class="c-font-uppercase c-font-bold">{{ label_2 }}</h3>
        <p>{{ description_2|raw }}</p>
      </div>
    </li>
  </ul>
  <ul class="c-grid-row">
    <li>
      <div class="c-bg-opacity-1 c-card" data-height="height">
        <h3 class="c-font-uppercase c-font-bold">{{ label_3 }}</h3>
        <p>{{ description_3|raw }}</p>
      </div>
    </li>
    <li>
      <div class="c-bg-opacity-1 c-card" data-height="height">
        <h3 class="c-font-uppercase c-font-bold">{{ label_4 }}</h3>
        <p>{{ description_4|raw }}</p>
      </div>
    </li>
  </ul>
</div>
