<{{ tag }} class="c-{{ label_align }} {{ color }} {{ class }}">{{ icon|raw }} {{ title|raw }}</{{ tag }}>
<div class="{{ line_classes }}"></div>
<p class="c-{{ label_align }} c-font-uppercase">{{ description|raw }}</p>
