<div class="c-content-app-1">
  <div class="c-diagram">
    <div class="c-lines-2" style="background-image: url({{ path_to_theme }}/img/app-line2.png);"></div>
    <div class="c-wireframe" style="background-image: url({{ path_to_theme }}/img/app-phone2.png);"></div>
    <div class="c-phone-img" style="background-image: url({{ url }});"></div>
    <div class="c-point-1 c-box c-app-left wow animate fadeInLeft">
      <h3 class="c-font-uppercase">{{ label }}</h3>
      <p>{{ description }}</p>
    </div>
    <div class="c-point-2 c-box c-app-right wow animate fadeInRight">
      <h3 class="c-font-uppercase">{{ label2 }}</h3>
      <p>{{ description2 }}</p>
    </div>
    <div class="c-point-3 c-box c-app-left wow animate fadeInLeft">
      <h3 class="c-font-uppercase">{{ label3 }}</h3>
      <p>{{ description3 }}</p>
    </div>
    <div class="c-point-4 c-box c-app-right wow animate fadeInRight">
      <h3 class="c-font-uppercase">{{ label4 }}</h3>
      <p>{{ description4 }}</p>
    </div>
  </div>
</div>
