<div class="col-md-6 col-sm-6">
  <div class="c-content c-align-{{ content_align }}" {{ style|raw }}>
    <h3 class="c-title c-font-bold c-font-35 c-font-dark">{{ title|raw }}</h3>
    <div class="c-description c-font-20 c-font-regular">{{ text|raw }}</div>
    <p class="c-price c-font-60 c-font-thin c-font-dark">{{ price }}</p>
    <a href="{{ button_link }}"
       class="btn btn-lg c-btn-grey-3 c-font-uppercase c-btn-square c-btn-border-1x">{{ button_text }}</a>
  </div>
</div>
