<div class="progress">
  <div class="progress-bar progress-bar-{{ color1 }} {{ striped1 }}" style="width: {{ percent1 }}%">
  </div>
  <div class="progress-bar progress-bar-{{ color2 }} {{ striped2 }}" style="width: {{ percent2 }}%">
  </div>
  <div class="progress-bar progress-bar-{{ color3 }} {{ striped3 }}" style="width: {{ percent3 }}%">
  </div>
</div>
