<div class="c-content-feature-4">
  <div
    class="c-bg-parallax c-feature-bg c-content-{{ image }} c-arrow c-border-{{ content }}-{{ bg_color }}"
    style="background-image: url({{ url }});"></div>
  <div class="c-content-area c-content-{{ content }}"></div>
  <div class="container">
    <div class="c-feature-content c-{{ content }}">
      <div class="c-content-v-center">
        <div class="c-wrapper">
          <div class="c-body wow animate fadeInDown">
            {{ text|raw }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
