<div class="item">
  <div class="c-content-testimonial-4">
    <div class="c-content">{{ text|raw }}</div>
    <div class="c-person">
      <img src="{{ url }}" class="img-responsive">
      <div class="c-person-detail c-font-uppercase">
        <h4 class="c-name {{ font_color }}">{{ name }}</h4>
        <p class="c-position c-font-bold c-theme-font">{{ position }}</p>
      </div>
    </div>
  </div>
</div>
