{{ text|raw }}
<a class="twitter-timeline" href="{{ url }}" {{ bg }} data-widget-id="626329365547061249" data-tweet-limit="{{ limit }}" data-chrome="noheader nofooter noscrollbar noborders transparent">
  {{ 'Loading tweets...'|t }}
</a>
