<label class="control-label c-font-uppercase c-font-bold">{{ title|t }}</label>
<div class="c-price-range-box input-group">
  <div class="c-price input-group col-md-6 pull-left">
    <span class="input-group-addon c-square c-theme">{{ currency }}</span>
    <input type="text" name="from_textfield" class="form-control c-square c-theme" placeholder="{{ 'from'|t }}"></div>
  <div class="c-price input-group col-md-6 pull-left">
    <span class="input-group-addon c-square c-theme">{{ currency }}</span>
    <input type="text" name="to_textfield" class="form-control c-square c-theme" placeholder="{{ 'to'|t }}"></div>
</div>
