<div class="c-bg-img-center" style="height:{{ height }}px;background-image: url({{ filename }});">
  <div class="c-detail c-bg-dark c-bg-opacity-2">
    <a href="{{ button_link }}" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{ button_text }}</a>
    <h3 class="c-title c-font-uppercase c-font-bold c-font-white c-font-90">{{ title|raw }}</h3>
    <div class="c-desc c-font-white c-font-17">{{ text|raw }}</div>
  </div>
</div>
