<div class="item">
  <div class="c-content-testimonial-3 {{ bg_type }}">
    <div class="c-content">
      {{ text|raw }}
    </div>
    <div class="c-person">
      {{ img }}
      <div class="c-person-detail c-font-uppercase">
        <h4 class="c-name">{{ name }}</h4>
        <p class="c-position c-font-bold c-theme-font">{{ position }}</p>
      </div>
    </div>
  </div>
</div>
